<!DOCTYPE html>
<html>

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Title -->
    <title>RealGrid DEMO - html5/canvas Web Data Grid - RealGrid(웹 데이터 그리드 - 리얼그리드) 데모사이트 -
    Release 1.1.19
    </title>
    <meta name="description" content="  Renderer.showTooltip속성이 TextCellRenderer뿐 아니라 Data를 표시하는 전체 Cell Renderer에서 적용되도록 개선되었습니다.  그리드에서 행을 추가할때 dataProvider.onRowInserted 이벤트에서 dataProvider.set...">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="/demo/css/style.css">

    <script type="text/javascript" src="/demo/lib/jquery/jquery-1.11.2.min.js"></script>

    

    
    
    
    

<!--
      <link rel="stylesheet" href="/demo/css/bootstrap.css">
      <link rel="stylesheet" href="/demo/css/prettify.css">
      <link rel="stylesheet" href="/demo/css/main.css">
      <link rel="stylesheet" href="/demo/css/octicons.css">
      <link rel="canonical" href="demo.realgrid.com/demo/release1.1.19/">
      <link rel="alternate" type="application/rss+xml" title="RealGrid DEMO" href="demo.realgrid.com/demo/feed.xml" />

      <script type="text/javascript" src="/demo/script/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="/demo/script/bootstrap.min.js"></script>
      <script type="text/javascript" src="/demo/script/prettify.js"></script>
 -->
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="<%- theme.favicon || 'https://www.meteor.com/favicon.png' %>" sizes="16x16 32x32 64x64">

    <meta name="google-site-verification" content="" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
 -->
</head>


<body class="">

    <div class="nav dark">
    <div class="nav-group">
        <div class="nav-item">
            <span class="js-sidebar-toggle show-mobile">
                <span class="icon-menu"></span>
            </span>
            <a class="logo show-desktop"
                href=""
                title="RealGrid DEMO">
                <img src="/demo/images/realgrid-logo.png"
                    alt="RealGrid DEMO">
                <span>RealGrid DEMO</span>
            </a>
        </div>
    </div>

    <div class="nav-group right">
        <div class="nav-item show-mobile">
            <span class="js-search-toggle">
                <span class="icon-search"></span>
            </span>
        </div>

        <div class="nav-item show-desktop">
            <a class="link"
                href="http://www.realgrid.com/#license">
                <span>제품구매</span>
            </a>
        </div>
        <div class="nav-item show-desktop active">
            <a class="link"
                href="http://www.realgrid.com/demo">
                <span>데모보기</span>
            </a>
        </div>
        <div class="nav-item show-desktop">
            <a class="link"
                href="http://help.realgrid.com">
                <span>개발자문서</span>
            </a>
        </div>
        <div class="nav-item show-desktop">
            <a class="link"
                href="http://demo.realgrid.com/questions/">
                <span>질문답변</span>
            </a>
        </div>
        <div class="nav-item show-desktop">
            <a class="btn orange small round lowercase"
                href="http://help.realgrid.com">
                <span>평가판</span>
            </a>
        </div>
    </div>
</div>


<div class="sidebar">

  <div class="sidebar-content">
    <div class="topcap">
      <span class="title-sidebar">RealGrid 데모보기</span>
      
    </div>

    <div class="wrapper-search">
      <div class="input-symbol small round">
        <input type="text" placeholder="Search Demo" id="desktop-search-input" />
        <span class="icon-search"></span>
      </div>
      <div class="wrapper-desktop-search-results"></div>
    </div>

    <ul class="toc">
        <li>
            <ul class="list-toc">
                
                
                    
                
                    
                    <li class="item-toc ">
                        <a href="/demo/" class="sidebar-link ">
                            <span>안녕하세요!</span>
                        </a>
                    </li>
                    
                
                    
                    <li class="item-toc ">
                        <a href="/demo/release.html" class="sidebar-link ">
                            <span>최신버전(1.1.19)</span>
                        </a>
                    </li>
                    
                

                
                    <!-- _posts폴더의 post는 개발시에만 메뉴에 표시됩니다. -->
                    
                    
                        
                        <li class="item-toc ">
                            <a href="/demo/setColumns/" class="sidebar-link ">
                                <span>페이지 스타일 1</span>
                            </a>
                        </li>
                        
                    
                        
                        <li class="item-toc ">
                            <a href="/demo/setColumns2/" class="sidebar-link ">
                                <span>페이지 스타일 2</span>
                            </a>
                        </li>
                        
                    
                
            </ul>
        </li>

        
        <li>
          
            <div class="heading-toc">그리드 구성요소</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/Indicator/" class="sidebar-link ">
                  <span>인디케이터</span>
                </a>
              </li>
              

            
              
              

              

            
              
              

              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/StateBar/" class="sidebar-link ">
                  <span>상태바</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/CheckBar/" class="sidebar-link ">
                  <span>체크바</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/ContextMenu/" class="sidebar-link ">
                  <span>컨텍스트 메뉴</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/ToastView/" class="sidebar-link ">
                  <span>토스트 메시지 창</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/Cursor/" class="sidebar-link ">
                  <span>커서</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/FixedColumns/" class="sidebar-link ">
                  <span>열 고정하기</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/FixedRows/" class="sidebar-link ">
                  <span>행 고정하기</span>
                </a>
              </li>
              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/GridComponent/Selecting/" class="sidebar-link ">
                  <span>선택</span>
                </a>
              </li>
              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">셀 구성요소</div>
          

          <ul class="list-toc">
            
            
              
              

              
              <li class="item-toc ">
                <a href="/demo/CellComponent/BlinkCell/" class="sidebar-link ">
                  <span>같은 값의 셀 생략 하기</span>
                </a>
              </li>
              

            
              
              

              

            
              
              

              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/CellComponent/CellButton/" class="sidebar-link ">
                  <span>셀 버튼</span>
                </a>
              </li>
              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">컬럼</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/Columns/SetColumn/" class="sidebar-link ">
                  <span>컬럼 만들기</span>
                </a>
              </li>
              

            
              
              

              

            
              
              

              

            
              
              

              
              <li class="item-toc ">
                <a href="/demo/Columns/ColumnProperties/" class="sidebar-link ">
                  <span>컬럼 속성 변경하기</span>
                </a>
              </li>
              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">헤더와 푸터</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">행 그룹</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">데이터 가져오기</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">데이터 관리</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">페이지 처리</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">그리드 편집</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">유효성 검사</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">렌더러</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">시리즈 컬럼</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">트리 그리드</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">그리드 스타일</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">엑셀 내보내기</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">성능</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">이벤트</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        
        <li>
          
            <div class="heading-toc">타사제품 연동</div>
          

          <ul class="list-toc">
            
            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
              
              

              

            
          </ul>

        </li>
        

        <!--릴리즈 메뉴-->
        <li>
          <div class="heading-toc release">release</div>
          <ul class="list-toc">
            
            
                
                  <li class="item-toc current ">
                    <a href="/demo/release1.1.19/" class="sidebar-link current">
                      <span>Release 1.1.19</span>
                    </a>
                  </li>
                
            
                
                  <li class="item-toc ">
                    <a href="/demo/release1.1.18/" class="sidebar-link ">
                      <span>Release 1.1.18</span>
                    </a>
                  </li>
                
            
                
            
          </ul>
        </li>

    </ul>
  </div>
</div>


<div class="content">

    <div class="content-wrapper no-devbox">
        <div class="header-content">
            <h1 class="title-page">Release 1.1.19</h1>
            
                <div class="subtitle-page">
                    
                        <!--버전이 있는 경우 버전 표시-->
                        2016-09-30 Relaese 1.1.19.2277
                    
                </div>
            


            

            
        </div>

        <div class="document-formatting">
            <ul>
  <li>Renderer.showTooltip속성이 TextCellRenderer뿐 아니라 Data를 표시하는 전체 Cell Renderer에서 적용되도록 개선되었습니다.</li>
  <li>그리드에서 행을 추가할때 dataProvider.onRowInserted 이벤트에서 dataProvider.setValue api를 사용할때 발생하는 오류를 수정하였습니다.</li>
  <li>onContextMenuPopup 이벤트에 elementName이 추가되었습니다. 이베트에서 false를 return하면 contextMenu가 생성되지 않도록 개선되었습니다. ContextMenu 페이지에서 확인하세요.</li>
  <li>그리드를 스크롤할때 발생되는 onTopItemIndexChanged event가 추가되었습니다. Event Order 페이지에서 확인하세요.</li>
  <li>RowGroup Footer를 그룹의 상단에 표시할수 있도록 개선되었습니다. RowGroup.expandedAdornments속성을 “summary”로 설정하면 rowGroup Footer가 그룹상단에 - 표시됩니다. 자세한 내용은RowGrouping페이지를 참조바랍니다.</li>
  <li>MergeRule이 적용을 컬럼을 rowGroup에 추가한 후 그룹이 접힌 상태에서 rowGroup에서 제외하는 경우 MergeRule이 해제되는 현상을 개선하였습니다.</li>
  <li>그리드를 Export할때 Export가 끝난 시점을 알수 있도록 ExportOptions.done Callback을 추가하였습니다. gridView.exportGrid({type:”excel”,target:”local”,done:function() {alert(“done excel export”)}})형태로 사용할수 있습니다.</li>
  <li>그리드에 Cell의 값이 없는 곳을 선택한후 복사했을때 잘못된 문자열이 복사되는 현상을 수정하였습니다.</li>
  <li>DataProvider.restoreUpdatedStates(0)을 사용했을때 전체 row의 state까지 변경되는 현상을 수정하였습니다.</li>
  <li>RowGroup상태에서 Excel Export시 merge된 셀의 세로 경계선이 부자연스러운 현상을 수정하였습니다.</li>
  <li>그리드를 excel export시 Fixed Column의 Style이 적용되지 않는 현상을 수정하였습니다.</li>
  <li>date Editor의 textReadOnly가 true인경우 date Picker에서 선택을 하여도 날짜가 변경되지 않는 현상을 수정하였습니다.</li>
  <li>잘못된 날짜를 입력하는경우 NaN/NaN/NaN으로 표시되던것을 공백으로 표시되도록 수정하였습니다.</li>
  <li>treeView의 treeOptions.showCheckBox를 true로 변경했을때 Check된 row가 적용되지 않는 현상을 개선하였습니다.</li>
  <li>treeView의 indicator영역을 이용한 RowSelect시 첫번째 행부터 선택되는 오류를 수정하였습니다.</li>
  <li>columnGroup이 중첩되어있고 Orientation이 Vertical인경우 Selection이 정상적으로 되지 않는 현상을 개선하였습니다.</li>
  <li>styles.textWrap이 “normal”또는 “explicit”인경우 컬럼 넓이 자동조정이 개선되었습니다.</li>
  <li>rowValidation이 설정된 그리드의 multiLine Editor에 여러행 붙여넣기를 할때 Validation이 발생하는 경우 focus된 셀이 모두 붙여넣기가 되는 현상이 수정되었습니다.</li>
  <li>toastView의 zIndex값을 수정할수 있도록 DisplayOptions.toastZIndex 속성이 추가되었습니다. gridView.setDisplayOptions({toastZIndex:100}) 또는 gridView.showToast({message:”메세지를 입력하세요”, zIndex:100})와 같은 방식으로 사용할수 있습니다.</li>
  <li>DropDown Editor의 domainOnly가 true인경우 붙여넣기 할때 values에 없는 값은 붙여넣기 되지 않도록 PasteOptions.checkDomainOnly 속성이 추가되었습니다. Copy And Paste 페이지에서 확인하세요.</li>
  <li>DisplayOptions.fitStyle이 “even” 또는 “evenFill” 일때 ColumnHeader와 DataCell의 라인이 맞지않는 현상을 개선하였습니다.</li>
  <li>
    <table>
      <tbody>
        <tr>
          <td>RowGroup.sorting 속성이 추가되었습니다. 기본값은 true입니다. false로 설정하면 rowGroup시 자동으로 정렬되지 않고 그리드에 표시된 데이터의 순서대로 RowGrouping됩니다. api를 이용한 rowGrouping시에는 gridView.groupBy([field1,field2],true</td>
          <td> </td>
          <td>false)와 같이 사용할수 있습니다. 자세한 내용은RowGrouping페이지를 참조바랍니다.</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>EditOptions.insertable이 true인경우 shift+insert키를 입력하는 경우 현재행 아래에 새로운 행이 추가되도록 변경되었습니다. api를 이용하는 경우 gridView.beginInsertRow(0,true)를 사용할수 있습니다. 자세한 내용은 Inserting 페이지를 참조바랍니다.</li>
  <li>onValidateColumn 사용시 첫번째행과 마지막행에서는 validation icon이 표시되지 않는 문제를 수정하였습니다.</li>
  <li>PasteOptions.noEditEvent가 true인경우 onCellEdited도 발생하지 않도록 수정되었습니다.</li>
</ul>

        </div>
    </div>
</div>




    
<script type="text/javascript" src="/demo/lib/common/smooth-scroll.min.js"></script>
<script type="text/javascript" src="/demo/lib/common/main.js"></script>


<script type="text/javascript" src="/demo/lib/realgrid/realgridjs-lic.js"></script>

<script type="text/javascript" src="/demo/lib/realgrid/realgridjs_eval.1.1.19/realgridjs_eval.1.1.19.min.js"></script>
<script type="text/javascript" src="/demo/lib/realgrid/realgridjs_eval.1.1.19/realgridjs-api.1.1.19.js"></script>
<script type="text/javascript" src="/demo/lib/realgrid/realgridjs_eval.1.1.19/jszip.min.js"></script>

<script>
    window.onload = function() {
        RealGridJS.setRootContext("/demo/lib/realgrid/realgridjs_eval.1.1.19");
    }

    function togglePageStyles() {
        $('.content-wrapper').toggleClass('with-devbox');
        $('.content-wrapper').toggleClass('no-devbox');
        $('.devbox').toggle('display');
    }
</script>


<!--
    <script src="/script/smooth-scroll.min.js"></script>
    <script src="/script/main.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
    <script>
      // nectar ninja
    //   (function(){
    //     var handle = '@meteorjs';
    //     var a = document.createElement('script');
    //     var m = document.getElementsByTagName('script')[0];
    //     a.async = 1;
    //     a.src = 'https://nectar.ninja/api/v1/' + handle.slice(1);
    //     m.parentNode.insertBefore(a, m);
    //   })();

     <% if (config.apis && config.apis.ga) { %>
        // Google analytics
        ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%- config.apis.ga %>', 'auto');
        ga('send', 'pageview');
      <% } %>
      <% if (config.apis && config.apis.segment) { %>
        // Segment Tracking
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        analytics.load("<%- config.apis.segment %>");
        analytics.page()
        }}();
      <% } %>

      // search box
      <% if (config.apis && config.apis.swiftype) { %>
        ;(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
        _st('install','<%- config.apis.swiftype %>','2.0.0');
      <% } else if (config.apis && config.apis.docsearch) { %>

        ['desktop', 'mobile'].forEach(function(type) {
          var search = docsearch({
            apiKey: '<%- config.apis.docsearch.apiKey %>',
            indexName: '<%- config.apis.docsearch.indexName %>',
            inputSelector: '#' + type + '-search-input',
            autocompleteOptions: {
              dropdownMenuContainer: '.wrapper-' + type + '-search-results',
              debug: true
            }
          }).autocomplete;

          var sidebar = document.querySelector('.sidebar-content');
          search.on('autocomplete:opened', function() {
            sidebar.classList.add('searching');
          });
          search.on('autocomplete:closed', function() {
            sidebar.classList.remove('searching');
          });
          search.on('autocomplete:updated', function() {
            if (search.val() === '') {
              search.autocomplete.close();
            }
          });
        });
      <% } %>

      <% if (config.redirects) { %>
        var REDIRECTS = <%- JSON.stringify(config.redirects, 0, 2) %>;

        function redirect() {
          // Support redirects of the form /path#hash
          var locationKey = location.pathname + location.hash;
          if (REDIRECTS[locationKey]) {
            location.replace(location.origin + '/' + REDIRECTS[locationKey]);
          }

          // Support redirects of the form #hash (works for any path)
          var hashKey = location.hash;
          if (REDIRECTS[hashKey]) {
            location.replace(location.origin + '/' + REDIRECTS[hashKey]);
          }
        }

        // Redirect now
        redirect();

        // Redirect on hash change
        window.onhashchange = redirect;
      <% } %>
    </script>
-->

  </body>

</html>
